input::-webkit-input-placeholder {
    color: #bbb;
    }
    input::-moz-input-placeholder {
    color: #bbb;
    }
    input::-ms-input-placeholder {
    color: #bbb;
    }
    input[type=button],input[type=text],input[type=password]{
    -webkit-appearance:none;
    appearance:none;
    outline:none
    }
    input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    }
    html,body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input,figure { margin: 0;
    padding: 0;
    margin:0;
    }
    a, a:hover {
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    }
    li { list-style: none }
    img { border: none; max-width:100%; }
    input, select, textarea { background: none }
    em,i { font-style: normal }
    h1, h2, h3, h4, h5, h6 { font-weight: normal }
    .clearfix{*zoom:1;}
    .fl{
        float:left;
    }
    .fr{
        float:right;
    }
    .clearfix::after{ clear: both; display: block; height: 0; content: ''; visibility: hidden;}
    body {
    font-family: ‘Microsoft YaHei’,Arial,Helvetica,sans-serif;
    }
    .c_hand{
        cursor:pointer;
    }
    .p_t5{
        padding-top:5px;
        }
        .p_t10{
        padding-top:10px;
        }
        .p_t15{
        padding-top:15px;
        }
        .p_t20{
        padding-top:20px;
        }
        .p_t25{
        padding-top:25px;
        }
        .p_t30{
        padding-top:30px;
        }
        .p_t35{
        padding-top:35px;
        }
        .p_t40{
        padding-top:40px;
        }
        .p_t45{
        padding-top:45px;
        }
        .p_t50{
        padding-top:50px;
        }
        .p_t55{
        padding-top:55px;
        }
        .p_t60{
        padding-top:60px;
        }
        .p_b5{
        padding-bottom:5px;
        }
        .p_b10{
        padding-bottom:10px;
        }
        .p_b15{
        padding-bottom:15px;
        }
        .p_b20{
        padding-bottom:20px;
        }
        .p_b25{
        padding-bottom:25px;
        }
        .p_b30{
        padding-bottom:30px;
        }
        .p_b35{
        padding-bottom:35px;
        }
        .p_b40{
        padding-bottom:40px;
        }
        .p_b45{
        padding-bottom:45px;
        }
        .p_b50{
        padding-bottom:50px;
        }
        .p_b55{
        padding-bottom:55px;
        }
        .p_b60{
        padding-bottom:60px;
        }
        .p_l5{

             padding-left:5px;
            }
            .p_l10{
             padding-left:10px;
            }
            .p_l15{
             padding-left:15px;
            }
            .p_l20{
             padding-left:20px;
            }
            .p_l25{
             padding-left:25px;
            }
            .p_l30{
             padding-left:30px;
            }
            .p_l35{
             padding-left:35px;
            }
            .p_l40{
             padding-left:40px;
            }
            .p_l45{
             padding-left:45px;
            }
            .p_l50{
             padding-left:50px;
            }
            .p_l55{
             padding-left:55px;
            }
            .p_l60{
             padding-left:60px;
            }
            .p_r5{

             padding-right:5px;
            }
            .p_r10{
             padding-right:10px;
            }
            .p_r15{
             padding-right:15px;
            }
            .p_r20{
             padding-right:20px;
            }
            .p_r25{
             padding-right:25px;
            }
            .p_r30{
             padding-right:30px;
            }
            .p_r35{
             padding-right:35px;
            }
            .p_r40{
             padding-right:40px;
            }
            .p_r45{
             padding-right:45px;
            }
            .p_r50{
             padding-right:50px;
            }
            .p_r55{
             padding-right:55px;
            }
            .p_r60{
             padding-right:60px;
            }
            .m_t5{
                margin-top:5px;
                }
                .m_t10{
                margin-top:10px;
                }
                .m_t15{
                margin-top:15px;
                }
                .m_t20{
                margin-top:20px;
                }
                .m_t25{
                margin-top:25px;
                }
                .m_t30{
                margin-top:30px;
                }
                .m_t35{
                margin-top:35px;
                }
                .m_t40{
                margin-top:40px;
                }
                .m_t45{
                margin-top:45px;
                }
                .m_t50{
                margin-top:50px;
                }
                .m_t55{
                margin-top:55px;
                }
                .m_t60{
                margin-top:60px;
                }
                .m_r5{
                margin-right:5px;
                }
                .m_r10{
                margin-right:10px;
                }
                .m_r15{
                margin-right:15px;
                }
                .m_r20{
                margin-right:20px;
                }
                .m_r25{
                margin-right:25px;
                }
                .m_r30{
                margin-right:30px;
                }
                .m_r35{
                margin-right:35px;
                }
                .m_r40{
                margin-right:40px;
                }
                .m_r45{
                margin-right:45px;
                }
                .m_r50{
                margin-right:50px;
                }
                .m_r55{
                margin-right:55px;
                }
                .m_r60{
                margin-right:60px;
                }
                .m_l5{
                    margin-left:5px;
                    }
                    .m_l10{
                    margin-left:10px;
                    }
                    .m_l15{
                    margin-left:15px;
                    }
                    .m_l20{
                    margin-left:20px;
                    }
                    .m_l25{
                    margin-left:25px;
                    }
                    .m_l30{
                    margin-left:30px;
                    }
                    .m_l35{
                    margin-left:35px;
                    }
                    .m_l40{
                    margin-left:40px;
                    }
                    .m_l45{
                    margin-left:45px;
                    }
                    .m_l50{
                    margin-left:50px;
                    }
                    .m_l55{
                    margin-left:55px;
                    }
                    .m_l60{
                    margin-left:60px;
                    }
                    .m_b5{
                    margin-bottom:5px;
                    }
                    .m_b10{
                    margin-bottom:10px;
                    }
                    .m_b15{
                    margin-bottom:15px;
                    }
                    .m_b20{
                    margin-bottom:20px;
                    }
                    .m_b25{
                    margin-bottom:25px;
                    }
                    .m_b30{
                    margin-bottom:30px;
                    }
                    .m_b35{
                    margin-bottom:35px;
                    }
                    .m_b40{
                    margin-bottom:40px;
                    }
                    .m_b45{
                    margin-bottom:45px;
                    }
                    .m_b50{
                    margin-bottom:50px;
                    }
                    .m_b55{
                    margin-bottom:55px;
                    }
                    .m_b60{
                    margin-bottom:60px;
                    }
    .jz640{ width:640px; margin:0 auto;}
    .jz990{width:990px; margin:0 auto;}
    .jz700{ width:700px; margin:0 auto;}
    .jz1200{ width:1200px; margin:0 auto;}
    .font_bold{
    font-weight: bold;
    }