<html>
<head>
    <title>
提交
    </title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="kkk">
<form action="/doAdd" method="POST">
用户名：<input type="text" name="username"><br/>
密码：<input type="text" name="password"><br/>
<button type="submit">提交</button>
</form>
<img src="img/a.jpg" alt="">
</body>
</html>